@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu:wght@300&display=swap');

:root {
  /* primary */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check: linear-gradient(to right bottom, #69bffc, #aa76f2);

  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  /* heights --- avoid setting height all the time instead put some padding*/
  --list-height: 2rem;
  /* custom-themes */
  --bg-body: hsl(236, 33%, 92%);
  --bg-section: hsl(0, 0%, 98%);
  --text-color: hsl(235, 21%, 11%);
  --bg-desktop: url(./images/bg-desktop-light.jpg);
  --bg-mobile: url(./images/bg-mobile-light.jpg);  
}

.dark-theme {
  --bg-body: hsl(235, 21%, 11%);
  --bg-section: hsl(235, 24%, 19%);
  --text-color: hsl(0, 0%, 98%);
  --bg-desktop: url(./images/bg-desktop-dark.jpg);
  --bg-mobile: url(./images/bg-mobile-dark.jpg);
}

.light-theme {
  --bg-body: hsl(236, 33%, 92%);
  --bg-section: hsl(0, 0%, 98%);
  --text-color: hsl(235, 21%, 11%);
  --bg-desktop: url(./images/bg-desktop-light.jpg);
  --bg-mobile: url(./images/bg-mobile-light.jpg);  
}

body {
  margin: 0;
  font-family: 'Josefin Sans', 'Ubuntu', sans-serif;
  background-color: var(--bg-body);
  background-image: var(--bg-desktop);
  background-repeat: no-repeat;
  background-size: contain;
  text-transform: capitalize;
  transition: background-image 500ms, background-color 500ms;
}

.section-center {
  max-width: 600px;
  height: auto;
  margin: 5.6rem auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2.2rem;
  font-weight: bolder;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  color: hsl(0, 0%, 98%);
  /* -webkit-text-stroke-width: 0.005rem;
  -webkit-text-stroke-color: cadetblue; */
}

header img {
  width: 20px;
  height: 20px;
}

.todo-form {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.container, .todo-form {
  box-shadow: 1px 1px 35px 1px rgb(0, 0, 0, 0.4);
  background-color: var(--bg-section);
  transition: background-color 500ms, box-shadow 500ms;
}

.container:hover{
  box-shadow: 0.5px 0.5px 10px 0.5px rgb(0, 0, 0, 0.4);
}

.alert {
  text-align: center;
  padding: 25px 15px 0;
  color: var(--text-color);
}

.list-container {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  max-height: 55vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
  /* width: 3px; */
}

/* ::-webkit-scrollbar-thumb {
  background-color: var(--Dark-Grayish-Blue);
} */

input {
  all: unset;
  width: 90%;
  background: transparent;
  color: var(--text-color);
  font-family: 'Josefin Sans', 'Ubuntu', sans-serif;
}


.list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
  align-items: center;
  border-bottom: 1px solid var(--Dark-Grayish-Blue);
  color: var(--text-color);
  font-size: 1rem;
  background-color: var(--bg-section);
  position: relative;
  transition: background-color 500ms, color 500ms;
}

#para {
  width: 80%;
  margin-right: 10%;
}

.list-toggle {
  height: 40px;
  color: var(--Dark-Grayish-Blue);
  justify-content: space-around;
  border-bottom: none;
  padding: 0.2rem 0;
}

.list-toggle button {
  font-size: 1.2rem;
}

.list-checked {
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
}

.btn {
  height: 20px;
  cursor: pointer;
  width: 20px;
  margin: auto;
  border: 1px solid var(--Dark-Grayish-Blue);
  border-radius: 20px;
  background-color: var(--bg-section);
  transition: background-color 500ms;
}

.checked {
  border: unset;
  background: var(--Check);
}

.check-img{
 margin-left: -0.1rem;
}

.toggle-btn {
  border: none;
  background: none;
  color: var(--Dark-Grayish-Blue);
  padding: 0;
  margin-inline: 10px;
  font-family: 'Josefin Sans', 'Ubuntu', sans-serif;
}

.active {
  color: var(--Bright-Blue);
}

.clear-btn:active{
  color: rgba(150, 20, 20, 0.8);
}

.cross {
  position: absolute;
  right: 10px;
}

.over{
  background-color: violet;
}

@media (max-width:480px) {
  body {
    background-image: var(--bg-mobile);
  }
  
  .section-center {
    max-width: 95vw;
    margin: 2.8rem auto;
  }
  
  .toggle-btn {
    margin-inline: 0.2rem;
  }
  
  .btn {
    width: 1.1rem;
    height: 1.1rem;
    cursor: none;
  }
  
  .check-img{
   margin-left: -0.2rem;
  }

  .list-item {
    font-size: 0.9rem;
  }

  .list-container {
    max-height: 100vw;
  }

  .list-toggle {
    font-size: 0.8rem;
  }

  .list-toggle button {
    font-size: 0.8rem;
  }
}